{%extends '@Home/Home/master.html.twig'%}

{% block  main %}
  <div class="hero inner-page" style="background-image: url('{{ asset('assets/css/front/images/hero_1_a.jpg') }}');">
      <div class="container">
        <div class="row align-items-end ">
          <div class="col-lg-5">
            <div class="intro">
              <h1><strong>Conditions</strong></h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
      <div class="container">
        <div class="row">
       <div class="container">


    <ul class="list-icons" style="list-style: none;">

        <li><i class="fa fa-check-circle"></i><strong>Utilisation de la voiture</strong><!-- </br> -->

        Le locataire ,lui seul est amené à conduire la vehicule de location Marrakech,dont il se porte garant et ne doit l’utiliser que pour ses besoins personnels. <!-- </br> -->

        L’agence interdit strictement le locataire à participer à toute compétition et d’utiliser le véhicule a des fins illicites ou des transports de marchandises. <!-- </br> -->

        Le locataire doit s’engager a ne pas solliciter des documents douaniers.  <!-- </br> -->

        Il est interdit au locataire de surcharger le véhicule loué en transportant un nombre de passagers supérieur à celui indiqué sur le contrat  sous peine d’être déchu de l’assurance.<!-- </br> --></li>

        <li><i class="fa fa-check-circle"></i><strong>Etat de la voiture & responsabilité</strong><!-- </br> -->

        Le vehicule se livre en tres bon  état de marche et de propreté  et  le locataire devra acquitter le montant  de remise en état. Ainsi il demeure seul responsable des amendes, contravention et procès verbaux établis contre lui.</li>

        <li><i class="fa fa-check-circle"></i><strong>Assurance</strong><!-- </br> -->

        Les vehicules OYAMA pour la <b>location des voitures</b> sont assurés tout risques , bien entendu le vehicule , vol ,brice de glace, conducteurs et passagers.</li>

        <li><i class="fa fa-check-circle"></i><strong>Réservation & livraison </strong><!-- </br> -->

        Réservez chez OYAMA en ligne et beneficiez de nos promos de tous les jours.<!-- <br> -->

        OYAMA CAR assure la livraison des <b>vehicules à l’aeroport</b>, hotel et à l’agence OYAMA gratuitement 7/7 et 24/24.<!-- <br> -->

        Toute information supplémentaire par rapport a la reservation serait communiquée au locataire apres la reservation. <!-- <br> -->

        </li>

    </ul>

</div>

        </div>
      </div>
    </div>
{% endblock %}