{% extends '@Project/base.html.twig' %}

{% block main %}
    <main id="main" class="main">

        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('index_page') }}">Home</a></li>
                    <li class="breadcrumb-item active">List des articles</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <h1>Section</h1>
        </section>

    </main><!-- End #main -->
{% endblock %}

